<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resturants by NC Region</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <link rel="stylesheet" href="static/css/Kimstyle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>








<body style= 'background-color:rgb(100, 204, 201)'>
<!-- ======================== -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Survey Results</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
  
          <li class="nav-item">
                  <a class="nav-link" href="/send">Take a Survey</a>
              </li>
                  
  
  
        <li class="nav-item">
          <a class="nav-link" href="/Kim">Kim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cristian">Cristian</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="/Anna">Anna</a>
            </li>
  
      </ul>
    </div>
  </nav>
  <!-- ============================= -->




  <div class="jumbotron jumbotron-fluid text-center" style="margin:-50px; background-color: rgb(100, 204, 201)">
      <h1 style="font-size: 300%" style= "font-weight: bold" style="font-family: 'calibri', 'Garamond', 'Comic Sans MS'"> 
        Fast Food Popularity Across NC
      </h1>
          <!-- <p>Fast food Resturant Popularity by Region</p>    -->
    </div>
    <div class= "container" >
        <div class ="row">
            <div class="col-10">
                <div class= "box bg-lighten-2">
                    <div style="font-style:italic">
                      <div class="image-container">
                        <div id="my_dataviz">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p></p>
                <p></p>
                <p class='legend' style="font-size: 20px; color:#FCDDDB">
                    <i class='fas fa-hamburger' style="font-size: 25px; color:#FCDDDB"></i> Wendy's
                </p>
                <p class = 'legend' style="font-size: 20px; color:#343D98">
                    <i class='fas fa-pepper-hot' style="font-size: 25px; color:#343D98"></i> Taco Bell
                </p>
                <p class='legend' style="font-size: 20px; color:#005542">
                    <i class='fas fa-bread-slice' style="font-size: 25px; color:#005542"></i> SubWay
                </p>
                <p class = 'legend' style="font-size: 20px; color:#FEA91B">
                    <i class='fas fa-pizza-slice' style="font-size: 25px; color:#FEA91B"></i> Pizza Hut
                </p>
                <p class='legend' style="font-size: 20px; color:#D52B1E">
                    <i class='fas fa-hamburger' style="font-size: 25px; color:#D52B1E"></i> McDonald's
                </p>
                <p class = 'legend' style="font-size: 20px; color:#E51636">
                    <i class='fas fa-drumstick-bite' style="font-size: 25px; color:#E51636"></i> Chick-fil-A
                </p>
                <p class='legend' style="font-size: 20px; color:#0066B3">
                    <i class='fas fa-hamburger' style="font-size: 25px; color:#0066B3"></i> Burger King
                </p>
                <p class = 'legend' style="font-size: 20px; color:#FFD51E">
                    <i class='fas fa-drumstick-bite' style="font-size: 25px; color:#FFD51E"></i> Bojangles'
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">Mountains</div>
            <div class="col">Central Region</div>
            <div class="col">Coastal Region</div>
        </div>
    </div>
  <!-- <script src="app2.js"></script> -->
  <script src="static/js/app2.js"></script>
</body>
</html>
